<aside id="sidebar" [ngClass]="isSidebarOpen ? 'collapsed' : ''">
  <div class="sidebar-widget position-fixed h-100 d-flex flex-column">
    <div class="sidebar-logo">
      <a href="#">My Logo</a>
    </div>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="sidebar-header">Admin Elements</li>

      <li class="nav-items">
        <a href="#" class="sidebar-link active"
          ><i class="bi bi-list-task pe-2"></i><span>Dashboard</span></a
        >
      </li>

      <li class="nav-items">
        <a
          href="#"
          class="sidebar-link collapsed"
          data-bs-toggle="collapse"
          data-bs-target="#pages"
          aria-expanded="false"
          aria-controls="pages"
          ><i class="bi bi-file-earmark pe-2"></i> <span>Pages</span></a
        >
        <ul
          id="pages"
          class="sidebar-dropdown list-unstyled collapse"
          data-bs-parent="#sidebar"
        >
          <li class="nav-items">
            <a href="#" class="sidebar-link">Page 1</a>
          </li>
          <li class="nav-items">
            <a href="#" class="sidebar-link">Page 2</a>
          </li>
          <li class="nav-items">
            <a href="#" class="sidebar-link">Page 3</a>
          </li>
        </ul>
      </li>

      <li class="nav-items">
        <a
          href="#"
          class="sidebar-link collapsed"
          data-bs-toggle="collapse"
          data-bs-target="#posts"
          aria-expanded="false"
          aria-controls="posts"
          ><i class="bi bi-sliders pe-2"></i> <span>Posts</span></a
        >
        <ul
          id="posts"
          class="sidebar-dropdown list-unstyled collapse"
          data-bs-parent="#sidebar"
        >
          <li class="nav-items">
            <a href="#" class="sidebar-link">Posts 1</a>
          </li>
          <li class="nav-items">
            <a href="#" class="sidebar-link">Posts 2</a>
          </li>
          <li class="nav-items">
            <a href="#" class="sidebar-link">Posts 3</a>
          </li>
        </ul>
      </li>

      <li class="nav-items">
        <a
          href="#"
          class="sidebar-link collapsed"
          data-bs-toggle="collapse"
          data-bs-target="#auth"
          aria-expanded="false"
          aria-controls="auth"
          ><i class="bi bi-person pe-2"></i><span>Auth</span></a
        >
        <ul
          id="auth"
          class="sidebar-dropdown list-unstyled collapse"
          data-bs-parent="#sidebar"
        >
          <li class="nav-items">
            <a href="#" class="sidebar-link">Logins</a>
          </li>
          <li class="nav-items">
            <a href="#" class="sidebar-link">Register</a>
          </li>
          <li class="nav-items">
            <a href="#" class="sidebar-link">Forgot Password</a>
          </li>
        </ul>
      </li>

      <li class="sidebar-header"><span>Multi Level Menu</span></li>
      <li class="nav-items">
        <a
          href="#"
          class="sidebar-link collapsed"
          data-bs-toggle="collapse"
          data-bs-target="#multi"
          aria-expanded="false"
          aria-controls="auth"
          ><i class="bi bi-diagram-2 pe-2"></i>Multi Dropdown</a
        >
        <ul
          id="multi"
          class="sidebar-dropdown list-unstyled collapse"
          data-bs-parent="#sidebar"
        >
          <li class="nav-items">
            <a
              href="#"
              class="sidebar-link collapsed"
              data-bs-target="#level-1"
              data-bs-toggle="collapse"
              aria-expanded="false"
              aria-controls="auth"
              >Level 1</a
            >

            <ul id="level-1" class="sidebar-dropdown list-unstyled collapse">
              <li class="nav-items">
                <a href="#" class="sidebar-link">Level 1.1</a>
              </li>
              <li class="nav-items">
                <a href="#" class="sidebar-link">Level 1.2</a>
              </li>
              <li class="nav-items">
                <a href="#" class="sidebar-link">Level 1.3</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    <div class="sidebar-footer">
      <a href="#" class="sidebar-link"
        ><i class="bi bi-gear pe-2"></i> Settings</a
      >
      <a href="#" class="sidebar-link"
        ><i class="bi bi-box-arrow-right pe-2"></i> Logout</a
      >
    </div>
  </div>
</aside>
