/* .profile_picture {
  object-fit: cover;
  width: 35px !important;
  height: 35px !important;
  border-radius: 100%;
}

.notification_icon {
  position: relative;
}
.notification_icon span {
  position: absolute;
  top: -5px;
  right: -5px;
  display: block;
} */

.navbar {
  width: 100%;
}

.avatar {
  object-fit: cover;
  width: 35px;
  height: 35px;
  border-radius: 100%;
}

.navbar-expand .navbar-nav {
  margin-left: auto;
}

@media (max-width: 767.98px) {
  .navbar {
    width: 100vw;
  }
}
