/* .profile_picture {
  object-fit: cover;
  width: 35px !important;
  height: 35px !important;
  border-radius: 100%;
}

.notification_icon {
  position: relative;
}
.notification_icon span {
  position: absolute;
  top: -5px;
  right: -5px;
  display: block;
} */
