/*Layout skeleton */

.wrapper {
  align-items: stretch;
  display: flex;
  width: 100%;
}

#sidebar {
  max-width: 264px;
  min-width: 264px;
  background: #333446;
  transition: all 0.3s ease-in-out;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  width: 100%;
  background: var(--bs-dark-bg-subtle);
}

.content {
  margin-top: 90px;
}

#sidebar.collapsed {
  margin-left: -271px;
}

@media (max-width: 576px) {
  #sidebar {
    margin-left: -271px;
  }
  #sidebar.collapsed {
    margin-left: 0;
  }
}

@media (max-width: 769px) {
  #sidebar {
    margin-left: -271px;
  }
  #sidebar.collapsed {
    margin-left: 0;
  }
}

@media (max-width: 1182px) {
  #sidebar {
    margin-left: -271px;
  }
  #sidebar.collapsed {
    margin-left: 0;
  }
}
