/*Layout skeleton */

.wrapper {
  align-items: stretch;
  display: flex;
  width: 100%;
}

#sidebar {
  max-width: 264px;
  min-width: 264px;
  background: var(--bs-dark);
  transition: all 0.3s ease-in-out;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  width: 100%;
  background: var(--bs-dark-bg-subtle);
}
